[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ruff = "*"
black = "*"
djlint = "*"

[packages]
django = "==4.2.6"
markdown = "==3.4.1"
whitenoise = "==6.2.0"


[requires]
python_version = "3"
