<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
            Python, Django, Almaz Kunpeissov
        </title>
        {% block meta %}
            {% include 'includes/meta.html' %}
        {% endblock meta %}
    </head>
    <body>
        {% block nav %}
            {% include 'includes/nav.html' %}
        {% endblock nav %}
        {% block main_content %}
        {% endblock main_content %}
        {% block footer %}
            {% include 'includes/footer.html' %}
        {% endblock footer %}
        {% block scripts %}
            {% include 'includes/scripts.html' %}
        {% endblock scripts %}
    </body>
</html>
